html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

:root {
    --accent: #F7654A;
    --dark: #404149;
    --white: #ffffff;
}

@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

.header {}

.container {
    max-width: 1110px;
    background: #ddd;
    margin: 0 auto;
    
}

.header__title {}

.header__burger {}

.header__burger_line {}

.header1 {
    font-family: Oswald;
    font-size: 64px;
    color: var(--white);
}