html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

:root {
    --accent: #F7654A;
    --dark: #404149;
    --white: #ffffff;
    --gray: #999999;
    --bg-color: #f7f7f7;
}

a {
    text-decoration: none;
}

/* Стили для текста */

h1 {
    color: var(--white);
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    line-height: 95px;
    max-width: 734px;
    margin: 0 auto 17px;
}

.text-h2 {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.text-h3 {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.text-h4 {
    font-size: 21px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.text-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.text-p-reviews {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

/*  */
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

.container {
    max-width: 1110px;
    margin: 0 auto;

}

.header {
    min-height: 740px;
    background-image: url(../img/rectangle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 60px;
    height: 60px;
}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    margin-bottom: 112px;
}

.header__burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: var(--accent);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__burger_line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: var(--white);
    margin-bottom: 4px;
}

.header__burger_line:last-child {
    margin-bottom: 0px;
}

.h4 {
    color: var(--white);
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    max-width: 734px;
}

.about {
    padding-top: 250px;
    position: relative;
    min-height: 1080px;
}

.info {
    position: absolute;
    margin: 0 auto;
    padding: 57px 130px;
    max-width: 1110px;
    width: 100%;
    min-height: 300px;
    background: #F7F7F7;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.about__grid-item {
    width: 190px;
    text-align: center;
}

.about__h4 {
    font-size: 72px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--accent);
    margin-bottom: 5px;
}

.about__h5 {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
}

.about__p {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray);
}


.project-h2 {
    text-align: center;
    margin-bottom: 50px;
    color: var(--dark);
}

.about__projects {
    display: flex;

}

.about__projects-item {
    max-width: 350px;
    margin-right: 30px;
}

.about__projects-item:last-child {
    margin-right: 0;
}

.projects_img {
    margin-bottom: 45px;
}

.line {
    background-color: var(--accent);
    width: 55px;
    height: 6px;
    margin-bottom: 15px;
}

.projects-h3 {
    color: var(--dark);
    margin-bottom: 14px;
    line-height: normal;

}

.projects-p {
    color: var(--gray);
}


.request {
    background-color: var(--accent);
    padding-top: 30px;
    padding-bottom: 38px;
}

.request__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request-h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white, #FFF);
    margin-bottom: 7px;
    letter-spacing: 0.02em;
}

.request-h4 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white, #FFF);
    letter-spacing: 0.02em;
}

.request__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 14px 30px;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: var(--white);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.request__icon {
    margin-right: 15px;
}

.services {
    padding: 150px 0;
    text-align: center;
}

.services-h2 {
    text-align: center;
    margin-bottom: 55px;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.services__grid-item {
    width: 350px;
    padding: 59px 0;
    background-color: var(--bg-color);
}

.services-img {
    margin: 0 auto 23px;
}

.services-h4 {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    max-width: 172px;
    letter-spacing: 0.02em;
}

.portfolio {}

.protfolio__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 0;
}

.portfolio__grid-item {}

.portfolio-img {}


.question {
    padding: 150px 0 110px 0;
}


.question-h2 {
    text-align: center;
    margin-bottom: 50px;
}

.question__items {
    max-width: 750px;
}

.question__item {}

.quiestion-h3 {
    text-transform: uppercase;
    color: var(--accent);
    margin-bottom: 26px;
    cursor: pointer;
}

.quiestion-h3.open::before,
.quiestion-h3.close::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.quiestion-h3.open::before {
    transform: rotate(-90deg);
}

.quiestion-h3.close + .question-p {
    display: none;
}

.quiestion-h3.close {
    margin-bottom: 30px;
}

.question-p {
    color: var(--gray);
    margin-bottom: 40px;
    max-width: 730px;
}

.partners {
    background-color: var(--dark);
    padding-top: 100px;
    padding-bottom: 80px;
/*     min-height: 365px; */
}
.partners-h2 {
    text-align: center;
    margin-bottom: 50px;
    color: var(--white);
}
.partners__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.partners__item {
    margin-bottom: 20px;
    margin-right: 40px;
    max-width: 170px;
    
}
.partners__item:nth-child(5n) {
    margin-right: 0;
}

.reviews {
    padding: 150px 0 142px;
}

.reviews-h2 {
    text-align: center;
    margin-bottom: 64px;
}

.reviews__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.reviews__grid-item {
}

.reviews__grid-card {
    background-color: var(--bg-color);
    padding: 20px 30px;
    margin-bottom: 45px;
}

.reviews__grid-quotes {
    font-size: 96px;
    color: var(--accent);
    margin-bottom: -40px;
    line-height: 1;
}

.reviews-p {
}
.text-p-reviews {
}
.reviews-h4 {
}
.reviews__author-accent {
    color: var(--accent);
}

.contacts {
    padding: 100px 0 150px;
}
.contacts__h2 {
    text-align: center;
    margin-bottom: 62px;
}

.contacts__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4,1fr);
}
.contacts__grid-item {
    text-align: center;
    max-width: 255px;
}
.contacts__grid-img {
    /* display: block; */
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;
}

.contacts__h3 {
    text-transform: uppercase;
}

.contacts__h3 a {
    text-decoration: none;
    color: inherit;
}

.contacts__h3-gray {
    color: var(--gray);
    text-transform: uppercase;
    margin-bottom: 18px;
}
.contacts__h3-accent {
    color: var(--accent);
}

.footer {
    padding: 30px 0;
    background-color: var(--dark);
    color: var(--white);
}
.footer__flex {
    display: flex;
    justify-content: space-between;
}
.footer a {
    color: var(--white);
    text-decoration: none;
}





@media screen and (max-width: 1280px) {
    .header {
        padding: 10px 50px;
    }

    .about__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .about__projects {
        padding: 110px 15px;
    }

    .request {
        padding-left: 20px;
        padding-right: 20px;
    }

    .services {
        padding-left: 20px;
        padding-right: 20px;
    }

    .services__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .services__grid-item {
        width: 100%;
    }

    .portfolio {
        padding-left: 20px;
        padding-right: 20px;
    }

    .protfolio__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .question {
        padding: 150px 15px 110px;
    }
    .partners__flex {
        justify-content: center;
    }
    .partners__item {
        margin-right: 10px;
        margin-left: 10px;
    }
    .partners__item:nth-child(5n) {
        margin-right: 40px;
    }

    .reviews {
        padding: 75px 15px;
    }
    .reviews__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .contacts__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .contacts__grid-item {
        max-width: 100%;
    }
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 55px;
    }

    .info {
        position: relative;
    }

    .about {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    .about__projects {
        flex-direction: column;
        align-items: center;
    }

    .about__projects-item {
        text-align: center;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .about__projects-item:last-child {
        margin-bottom: 0px;
    }

    .about__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .request__flex {
        flex-wrap: wrap;
    }

    .services__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .protfolio__grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .partners__item:nth-child(5n) {
        margin-right: 10px;
        margin-left: 10px;
    }
    .reviews__grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .contacts__grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .contacts__grid-item {
        max-width: 100%;
    }
    .footer__flex {
        flex-direction: column;
        align-items: center;
    }
}